html,
body {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
}

.group-title {
	color: #000 !important;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 300px;
	height: 100vh;
	text-align: center;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}

.input {
	padding: 4px;
	margin-bottom: 2px;
	border: 1px solid #ccc;
}

.button-wrapper {
	display: flex;
	justify-content: center;
}

.button {
	padding: 8px 16px;
	border: none;
	background-color: #31708f;
	color: #fff;
	cursor: pointer;
}

.login-logo {
	display: block;
	background: url('../img/logo_login.png') no-repeat left bottom;
	width: 300px;
	height: 80px;
	bottom: 150px;
	position: absolute;
}

.showpass,
.showpass_no {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	position: absolute;
	left: 290px;
	bottom: -21px;
}

.showpass {
	background-image: url(../img/ico_eye.png);
}

.showpass_no {
	background-image: url(../img/ico_eye_no.png);
}

.showpass_register,
.showpass_no_register {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	position: absolute;
	left: 260px;
	bottom: 87px;
}

.showpass_register {
	background-image: url(../img/ico_eye.png);
}

.showpass_no_register {
	background-image: url(../img/ico_eye_no.png);
}

.close_ccs {
	width: 15px;
	height: 15px;
	background-image: url(../img/ico_close.png);
}

.button-wrapper-login {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.column-container {
	margin-top: 10px;
}

.alert-item>span,
.alert-text {
	display: inline-block;
	-ms-flex-positive: 1;
	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 98%;
	flex-basis: 98%;
	max-width: 98%;
	min-width: 97%;
	margin-right: .5rem;
	text-align: left
}